
<h2> <%= @post.title %> </h2>
 <% @post.categories.each do |cat| %>
    <h3> <%= cat.name %> </h3>
    <% end %>
<p> <%= @post.content %> </p>
<% user_array = [] %>
<% @post.comments.each do |comment| %>
    <% if !user_array.include?(comment.user) %>
        <p> <%= link_to comment.user.username, user_path(comment.user) %> says: <%= comment.content %> </p>
        <% user_array << comment.user %>
        <% end %>
    <% end %>

<%= form_for @post.comments.build do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.label "Content" %>
       <%= f.text_field :content %>
       <%= f.collection_select :user_id, User.all, :id, :username, { include_blank: '' } %>
       <%= f.fields_for :user, User.new do |u| %>
        <%= u.label "username"%>
        <%= u.text_field :username %>
        <% end %>
       <%= f.submit %>
      <% end %> 

        